<div class="container">
  <h1>Editing job</h1>

  <%= render "form", job: @job %>

  <br>

  <div>
    <%= link_to "Mostrar", @job %> |
    <%= link_to "Experiencia Laboral", jobs_path %>
  </div>
</div>