<p style="color: green"><%= notice %></p>

<%= render @job %>

<div>
  <!--<%#= link_to "Editar Informacion", edit_job_path(@job) %> |-->
  <%= link_to "Experiencia Laboral", jobs_path %>

  <!--<%#= button_to "Borrar", @job, method: :delete %>-->
</div>
